<form action="/login" method="POST">
    <input name="uname" placeholder="Username">
    <input type="password" name="passwd" placeholder="Password">
    <input type="submit" value="submit">
</form>

<form action="/register" method="POST">
    <input name="uname" placeholder="Username">
    <input type="password" name="passwd" placeholder="Password">
    <input type="password" name="key" placeholder="Key">
    <input type="submit" value="submit">
</form>

<form action="/add_key" method="POST">
    <input name="key" placeholder="Key">
    <input type="submit" value="submit">
</form>
